/* body {
    background-color: black;
} */

/* Stock Item Styles */

.percentStyles {
    background-color: green;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 7px;
}