/* Global Styles */
body {
    background-color: black;
}

.pointer {
    cursor: pointer;
}

/* Stock Item Styles */

.percentStyles {
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 7px;
}