/* Global Styles */
body {
    background-color: black;
}

.pointer {
    cursor: pointer;
}

/* Stock Item Styles */

.percentStyles {
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 7px;
}

/* Table Box Styles  */
.tableBox {
    /* width: 20%; */
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 598px) {
    .tableBox {
        flex-direction: column;
        align-items: center;
    }
}